NODE_ENV=production
PORT=3001
DB_TYPE=postgres
DB_HOST=
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_NAME=yapgitsin_prod
JWT_SECRET=
ADMIN_INITIAL_PASSWORD=
ANTHROPIC_API_KEY=
ALLOWED_ORIGINS=https://yapgitsin.tr,https://www.yapgitsin.tr
IYZIPAY_API_KEY=
IYZIPAY_SECRET_KEY=
IYZIPAY_URI=https://api.iyzipay.com
